
@media (min-width: 779px) {
    .logo {
        margin-left: 420px;
        width: 200px;
        height: auto;
    }
    .menu ul {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 800;
        display: flex;
        list-style: none;
        margin-left: 360px;
    }

    .menu li {
        display:block;
        padding: 0 20px;
    }

    .banner img {
        height: 500px;
        width: auto;
        margin-left: 150px;
        margin-right: auto;
    }

    .banner-2 p {
        align-items: center;
        border-spacing: 0px;
        font-family: 'Alegreya', serif;
        margin-top: 40px;
        margin-bottom: 0px;
        padding-left: 420px;
        font-size: 4em;
        color: white;
    }
}
@media (max-width: 778px) {

    .logo {
        display: block;
        margin: auto;
        width: 200px;
        height: auto;
    }

    .menu ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 800;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .banner img {
        max-width: 50%;
        height: auto;
    }

    .banner-2 {
        max-width: 20%;
    }

    .banner-2 p {
        align-items: center;
        border-spacing: 0px;
        font-family: 'Alegreya', serif;
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 4em;
        color: white;
    }
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

a:hover {
    color: rgb(189, 55, 0);

}

u {
    padding-bottom:2px;
    text-decoration:none;
    border-bottom:2px solid #000;
}
footer {
    background-color: black;
    text-align: center;
    color:white;
}

.email {
    outline: none;
    border: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.contact {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 400px;
    letter-spacing: 1px;

}
.email {
    font-size: 20px;
    padding-bottom: 5px;

}

hr.solid {
    border-color: grey;
    width: 23.5%;
}
.contact a {
    font-size: small;
    color: white;
}

.contact a:hover {
    color: rgb(189, 55, 0);

}

.button {
    margin-top: 30px;
    padding: 7px 15px;
}

.politica ul {
    margin-top: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.politica li {
    padding: 0 10px;
}

.politica a{
    color: white;
}

.politica a:hover {
    color: rgb(189, 55, 0);

}

.footlogo img{
    width: 200px;
    height: auto;
    padding-top: 40px;
}
.footlogo p {
    margin: 0 auto;
    font-size: small;
}

.copy {
    font-size: small;
    margin-top: 45px;
    padding-bottom: 60px;
}

.banner {
    background-color: black;
    color: white;
    display: flex;

}



.banner-1 {
    border: 1px wheat solid;
}



.banner-2 h2 {
    font-family: 'Alegreya', serif;
    padding-left: 420px;
    color: white;
    font-weight: 400;
    font-size: 1.9em;
}

/*.banner p {
    font-family: 'Alegreya', serif;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-left: 420px;
    font-size: 4em;
    color: white;
}

.banner h2 {
    font-family: 'Alegreya', serif;
    padding-left: 420px;
    color: white;
    margin-top: -35px;
    font-weight: 400;
    font-size: 1.9em;
}

.banner img {
    height: 500px;
    width: auto;
    float: right;
    padding-right: 300px;
}*/