
@media (min-width: 779px) {
    .logo {
        margin-left: 420px;
        width: 200px;
        height: auto;
    }
    .menu ul {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 800;
        display: flex;
        list-style: none;
        margin-left: 360px;
    }

    .menu li {
        display:block;
        padding: 0 20px;
    }

    .banner {
        background-color: black;
        color: white;
        position: relative;
        padding-bottom: 600px;
    
    }

    .banner img {
        max-width: 600px;
        max-height: 600px;
        position: absolute;
        right: 300px;
    }

    .banner-2 p {
        align-items: center;
        border-spacing: 0px;
        font-family: 'Alegreya', serif;
        margin-top: 40px;
        margin-bottom: 0px;
        padding-left: 420px;
        font-size: 4em;
        color: white;
    }

    
    .banner-2 h2 {
        font-family: 'Alegreya', serif;
        padding-left: 420px;
        color: white;
        font-weight: 400;
        font-size: 1.9em;
    }

    .ltitle {
        margin-left: 400px;
        
    }

    .ltitle p {
        font-size: 18px;
    }

    .marsbox1 {
        margin-left: 350px;
        margin-right: 100px;
    }

    .marsbox1 {
        flex: 1;
        min-width: 200px;
        height: 900px;
    }

    .marsbox2 {
        margin-right: 350px;
    }

    .container4 div {
        margin-top: 70px;
        
    
    }

    .container5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1500px;
        margin-bottom: 0px;
    }

    .container5 div {
    
        margin-top: 20px;
        height: 213px;
        background-color: rgba(0,0,0,0.1);
    
    }

    .box10 {
    flex: 1;
    margin-left: 420px;
    }

    .box11{
        flex: 3;
        min-width: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .box12 {
        flex: 1;

    }

    .ciencia {
        margin-top: 60px;
        margin-left: 420px;
    }

    .box10 img, .box12 img {
        max-width: 100%;
    }

    .box11 p {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .box10 h1 {
        font-size: 35px;
        margin-left: 10px;

    }

    .box11 hr {
        width: 20px;
        border: orange solid;
        margin: 0;
        margin-left: 20px;
        margin-right: 2px;

    }

    .container6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 410px;
        padding-right: 410px;
        margin-bottom: 30px;
    }

    .container6 div {
        max-width: 500px;
        max-height: 380px;

    }

    .box13, .box14 {
        flex:1;
        padding-bottom: 5px;
        background-color: rgba(0,0,0,0.1);
    }



    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
    }

    .video {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .container6 p {
        text-align: center;
        font-size: 17px;
    }
}
@media (max-width: 778px) {

    
    .logo {
        display: block;
        margin: auto;
        width: 200px;
        height: auto;
    }

    .menu ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Alegreya', serif;
        font-weight: 800;
        display: flex;
        list-style: none;
        padding: 0;
    }

    
    .banner {
            background-color: black;
            color: white;
            position: relative;
            padding-bottom: 250px;
        
        }
    
    .banner img {
        max-width: 200px !important;
        max-height: 200px !important;
        position: absolute;
        right: 10px;
        top: 40px;
    }


    .banner-2 p {
        align-items: center;
        border-spacing: 0px;
        font-family: 'Alegreya', serif;
        font-size: 2em;
        color: white;
        font-weight: 400;
        margin: 5px;
        margin-left: 10px;
    }

    .banner-2 h2 {
        font-family: 'Alegreya', serif;
        color: white;
        font-weight: 400;
        font-size: 1em;
        margin-left: 10px;
        margin-top: -60px;
    }
    .marsbox1 {
        flex: 1;
        min-width: 300px;
        order: 2;
        max-width: 100%;
    }


    .container5 {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .box10, .box11, .box12 {
        background-color: rgba(0,0,0,0.1);
    }
    
    .box10 {
        flex: 1;
    
    }
    
    .box11{
        flex: 1;
    
    }
    
    .box12 {
        flex: 1;
        max-height: 370px;
    
    }
    
    .box12 img {
        max-width: 100%;
    }
    
    .box11 p {
        font-size: 18px;
        padding-left: 10px;
 
        margin: 0;
    }
    
    .box10 h1 {
        font-size: 35px;
        margin-left: 10px;
        margin: 0;
        max-width: 200px;
    }
    
    .box11 hr {
        width: 20px;
        border: orange solid;
        margin: 0;
        display: inline-block;
    }
    .container6 {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    
    .container6 div {

        max-height: 380px;
    
    }
    
    .box13, .box14 {
        flex:1;
        padding-bottom: 5px;
        background-color: rgba(0,0,0,0.1);
    }
    
    
    
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
    }
    
    .video {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

a:hover {
    color: rgb(189, 55, 0);

}

u {
    padding-bottom:2px;
    text-decoration:none;
    border-bottom:2px solid #000;
}
footer {
    background-color: black;
    text-align: center;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email {
    outline: none;
    border: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.contact {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;

}
.email {
    font-size: 20px;
    padding-bottom: 5px;

}

hr.solid {
    border-color: grey;
    width: 23.5%;
}
.contact a {
    font-size: small;
    color: white;
}

.contact a:hover {
    color: rgb(189, 55, 0);

}

.button {
    margin-top: 30px;
    padding: 7px 15px;
}

.politica ul {
    margin-top: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.politica li {
    padding: 0 10px;
}

.politica a{
    color: white;
}

.politica a:hover {
    color: rgb(189, 55, 0);

}

.footlogo img{
    width: 200px;
    height: auto;
    padding-top: 40px;
}
.footlogo p {
    margin: 0 auto;
    font-size: small;
}

.copy {
    font-size: small;
    margin-top: 45px;
    padding-bottom: 60px;
}

.banner-2 p {
    z-index: 100;
    position: absolute;
    top: 15px;
}


.banner-2 h2 {
    z-index: 100;
    position: absolute;
    top:140px;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Alegreya', serif;
}


.container1, .container2, .container3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container1 div, .container2 div, .container3 div {
    max-width: 370px;
    height: 700px;
    min-width: 365px;

    
}

.box1, .box3, .box5, .box7, .box9 {
    background-color: rgba(0,0,0,0.1);
}

.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img, .box7 img, .box8 img, .box9 img  {
    max-width: 100%;
    max-height: 100%;
   
}

.titlebox {
    color: rgb(189, 55, 0);
    padding-left: 15px;;
}

.contentbox {
    padding-left: 15px;
}

.container4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style-type: square;
}

.marsbox2 {
    flex: 3;
    min-width: 200px;
}

.marsbox1 p {
    font-size: 15px;
    font-family: 'Alegreya', serif;
}

.marsbox1 ul {
    list-style: none;
    padding: 0px;
    

}

.marsbox1 a {
    color: rgb(189, 55, 0);
    font-family: 'Alegreya', serif;
}

.marsbox1 figcaption {
    justify-content: center;
    text-align: center;
}

iframe {
    align-self: center;
}
